{% extends 'base.html'%} {% block content %}

<div class="container mt-3">
    <form action="{% url 'preferences'%}" method="post">
        {% csrf_token %}



	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<label class="input-group-text" for="inputGroupSelect01"
				>Currency</label
			>
		</div>
		<select class="custom-select" id="inputGroupSelect01">
			<option selected>Choose...</option>
			{% for currency in currencies %}

			<option selected>{{currency.name}} - {{currency.value}}</option>

			{% endfor%}
		</select>
		<div class="input-group-append">
			<input class="btn btn-outline-secondary" type="submit" value="save">
		</div>
	</div>
    </form>

</div>

<hr />
{% endblock %}
