{% extends 'base.html'%} {% block content %}

<div class="container mt-3">
    <form action="{% url 'preferences'%}" method="post">
        {% csrf_token %}



	<div class="input-group input-group-lg mb-3">
		<div class="input-group">
			
		<select name='currency' class="custom-select" id="inputGroupSelect01">
			{% if user_preferences.currency%}
            
            <option name='currency' selected value="{{user_preferences.currency}}">
                {{user_preferences.currency}}</option>
            
            {% endif %} {% for currency in currencies %}

            <option name='currency' value="{{currency.name}} - {{currency.value}}">
                {{currency.name}} - {{currency.value}}</option> 

			{% endfor%}
		
		<div class="input-group-append">
			<input class="btn btn-outline-secondary" type="submit" value="save" id="currencySubmitBtn">
		</div>
	</div>
    </form>

</div>

<hr />
{% endblock %}
