{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <!-- Form to submit preferences -->
    <form action="{% url 'preferences' %}" method="post">
        {% csrf_token %}
        
        <!-- Input group for selecting currency -->
        <div class="input-group input-group-lg mb-3">
            <h5>Currency</h5>
            <div class="input-group">
                <select name="currency" class="custom-select" id="inputGroupSelect01">
                    <!-- If user has preferences, show selected currency -->
                    {% if user_preferences.currency %}
                        <option class="currency" selected value="{{ user_preferences.currency }}">
                            {{ user_preferences.currency }}
                        </option>
                    {% endif %}
                    <!-- Loop through available currencies and display options -->
                    {% for currency in currencies %}
                        <option class="currency" value="{{ currency.name }} - {{ currency.value }}">
                            {{ currency.name }} - {{ currency.value }}
                        </option>
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" value="Save" id="currencySubmitBtn">
                </div>
            </div>
        </div>
    </form>
    <hr>
</div>
{% endblock %}