{% extends 'base.html'%} {% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Expenses</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Expenses</li>
                </ol>
            </nav>
        </div>
        
    </div>
    <div class="row searchandadd">
        <div class="col-md-10">
            <div class="form-group">
                <input type="text" class="form-control" id="searchField" placeholder="Search Expenses">
            </div>
        </div>
				<div class="col-md-2 text-right addexpensebtn">
            <a href="{% url 'add-expenses' %}" class="btn btn-primary btn-sm">Add Expenses</a>
        </div>
    </div>
</div>
{% if expenses.count %}
<div class="container">
	
	<div class="row">
		<div class="col-md-8"></div>
		<div class-"col-md-4">

	</div>

	<div class="row mt-3">
		<div class="col-12">
			<div class="table-responsive main-table">
				<table class="table table-striped table-hover table-responsive">
					<thead class="bg-primary text-white">
						<tr>
							<th>Description</th>
							<th>Amount</th>
							<th>Category</th>
							<th>Date</th>
							<th>Invoice #</th>
							<th>Reference</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for expense in expenses %}
						<tr>
							<td id="expense_dsc">
								{{expense.description|truncatechars:20 }}
							</td>
							<td>{{expense.amount}}</td>
							<td>{{expense.category}}</td>
							<td>{{expense.date}}</td>
							<td>{{expense.invoice_number}}</td>
							<td>{{expense.reference}}</td>
							<td>
								<a
									class="btn btn-sm btn-primary"
									href="{% url 'expense-edit' expense.id %}"
									>Edit</a
								>
								<a
									class="btn btn-sm btn-danger"
									href="{% url 'delete-expense' expense.id %}"
									onclick="return confirm('Are you sure you want to delete this expense?')"
									>Delete</a
								>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


{% endif %}
<div class="table-output">

		<table class="table table-striped table-hover table-responsive">
					<thead class="bg-primary text-white">
						<tr>
							<th>Description</th>
							<th>Amount</th>
							<th>Category</th>
							<th>Date</th>
							<th>Invoice #</th>
							<th>Reference</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody class="table-body">
						
					
					</tbody>
				</table>
	
</div>


<script src="{% static 'js/searchExpenses.js' %}"></script>
<script>
  let urlTemplates = {
    editExpense: `{% url 'expense-edit' 999999 %}`.replace('999999', '{id}'),
    deleteExpense: `{% url 'delete-expense' 999999 %}`.replace('999999', '{id}')
  };
</script>


{% endblock %}

