{% extends 'base.html'%} {% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="">Expenses</a></li>
					<li class="breadcrumb-item active" aria-current="page">
						My Expenses
					</li>
				</ol>
			</nav>
		</div>

		<div class="col-md-3">
			<a href="{% url 'add-expenses' %}" class="btn btn-primary"
				>Add Expense</a
			>
		</div>
	</div>


{% if expenses.count %}

<div class="container mt-3">
	<table class="table-striped table-hover table">
		<thead>

			<tr>
				<th>Description</th>
				<th>Amount</th>
				<th>Category</th>
				<th>Date</th> <th>Date</th>
			</tr>
		</thead>
		<tbody>
			{% for expense in expenses %}
			<tr>
				<td>{{expense.description}}</td>
				<td>{{expense.amount}}</td>
				<td>{{expense.category}}</td>
				<td>{{expense.date}}</td>
				<td>
					<a class="btn btn-primary" href="{% url 'expense-edit' expense.id %}">Edit</a>
				</td>
			</tr>
			{% endfor %}

		</tbody>
	</table>
</div>

 {% endif %}

{% endblock %}
