/* Icon Styles */
.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  height: 100vh;
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-size: .95rem;
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link.active {
  color: #235ee9;
}

.sidebar-heading {
  font-size: .75rem;
}

/* Navbar */
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.nav-link {
  color: rgb(63, 61, 61);
}

/* Hamburger Menu */
.hamburger-menu {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: relative;
  transform: translateY(-50%);
}

.hamburger-menu::before,
.hamburger-menu::after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
}

.hamburger-menu::before {
  top: -8px;
}

.hamburger-menu::after {
  top: 8px;
}

/* Media Queries */


@media (min-width: 768px) {
  .sidebar {
    height: 0vh;
    width: 0vw;
  }
  .btn.btn-primary.d-md-none {
    display: block;
  }
  .sidebar .offcanvas-lg {
    position: sticky;
    top: 48px;
    height: calc(100vh - 56px - 3rem);
  }
  
  .navbar-search {
    display: block;
  }
  
  .btn.btn-primary.d-md-none {
    display: none;
  }
  
  .offcanvas {
    width: 100% !important;
    display: flex !important;
    visibility: visible !important;
    transform: none !important;
    position: relative !important;
    top: 76px !important;
    left: 0 !important;
    width: 100% !important;
    height: auto !important;
    background-color: transparent !important;
    border: none !important;
  }
}

.offcanvas-lg {
  background-color: inherit;
}