.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky; /* Sticky position for the sidebar */
    position: sticky;
    top: 48px; /* Distance from the top */
  }
  .navbar-search {
    display: block; /* Show the search bar */
  }
}

.sidebar .nav-link {
  font-size: 0.95rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #235ee9; /* Active link color */
}

.sidebar-heading {
  font-size: 0.75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25); /* Shadow effect for the navbar */
}

.navbar .form-control {
  padding: 0.75rem 1rem;
}

.nav-link {
  color: rgb(63, 61, 61); /* Default link color */
}
