/* Done */
/* Base Styles */
html,
body {
	font-family: 'Nunito', sans-serif;
	height: 100%;
}

/* Input Elements */
input {
	border-radius: 5px !important;
}

/* Card Styles */
.card-body {
	box-shadow: 0 4px 8px rgba(90, 35, 200, 0.3); /* Adjusted to a valid box-shadow value */
}

/* Text Styles */
label,
p {
	font-size: 14px;
}

/* Horizontal Rule */
hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0)
	);
}

/* Row and Column Styles */
.row {
	display: flex;
}

.row .col-md-6 {
	display: flex;
	justify-content: space-around; /* Adjusted to space-between */
}

/* Flex Containers */
.searchandadd {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 20px;
}

.emaildisplay {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	color: white;
}

.sign-out-button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100px;
	height: 50px;
}

.signoutbtn {
	margin: 10px;
}

/* Breadcrumb */
.breadcrumb {
	margin-bottom: 0; /* Removes default bottom margin from breadcrumb for better alignment */
	background: transparent; /* Removes the default grey background */
	padding: 0; /* Removes default padding */
	margin-bottom: 0; /* Reduces space below the breadcrumb */
}

.breadcrumb-item + .breadcrumb-item::before {
	content: '>';
	color: #333; /* Dark gray color for visibility */
}

/* Form Control */
.form-control {
	background-image: none !important;
}

/* Button Hover */
.btn:hover {
	background-color: #1a1a1a; /* Slightly different from border color */
	border-color: #202020;
}

/* Disabled Button */
.btn:disabled {
	background-color: #1a1a1a; /* Slightly different from border color */
	border-color: #202020;
}

/* Custom Card */
.card.custom-min-width {
	min-width: 200px;
	max-width: 500px;
}

/* Flex Row */
.row.flex-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Main Authentication */
#main_auth {
	background-color: #ffffff;
	opacity: 0.9;
	background-image: radial-gradient(#000000 0.6px, #ffffff 0.5px);
	background-size: 10px 10px;
}

/* Form Group */
.form-group {
	position: relative;
	margin-top: 20px;
}

#password {
	padding-right: 40px;
}

/* Authentication Navbar */
.navbarAuth {
	justify-content: end;
}

.navbarAuthText {
	font-size: 19px;
	color: #333533;
	padding: 20px;
}

/* Success Alert */
.alert-success {
	background-color: #1f7c4d;
	border-color: #ffffff;
	color: #ffffff;
}

/* Signin Registration Container */
.signin_reg_container {
	display: flex;
	justify-content: center;
}

/* Show Password Toggle */
.showPasswordToggle {
	position: absolute;
	right: 15px;
	top: 57%;
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: rgba(0, 0, 0, 0.365);
	transition: 500ms;
	font-size: 10px;
	padding-top: 5px;
}

.showPasswordToggle:hover {
	cursor: pointer;
	transition: 500ms;
}

/* Row Authentication */
.rowauth {
	height: 100%;
}

/* Custom Select */
.custom-select {
	width: 60%;
	height: 45px;
}

.container-fluid {
	height: 87%;
}

/* Currency Submit Button */
#currencySubmitBtn {
	border-left: none;
	border-radius: 0px !important;
}

/* Input Group */
.input-group {
	justify-content: center;
}

/* Google Sign-in Button */
.btn-google {
	color: #545454;
	background-color: #ffffff;
	box-shadow: 0 1px 2px 1px #ddd;
	align-items: center;
}

/* Placeholder Images */
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	user-select: none;
}

/* Example Divider */
.b-example-divider {
	width: 100%;
	height: 3rem;
	background-color: rgba(0, 0, 0, 0.1);
	border: solid rgba(0, 0, 0, 0.15);
	border-width: 1px 0;
	box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
		inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

/* Example Vertical Rule */
.b-example-vr {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
}

/* Icons */
.icon {
	width: 20px;
	height: 20px;
}

/* Container */
.container {
	margin-top: 20px;
}

/* Button Styles */
.btn-primary {
	color: #fff; /* White text */
	background-color: #007bff; /* Blue background */
	height: 38px;
}

.btn-danger {
	padding: 0.375rem 0.75rem; /* Standard padding for bootstrap buttons */
	color: #fff; /* White text */
	background-color: #dc3545; /* Red background */
}

.control-btn {
    padding: 0.375rem 0.75rem;
    height: 38px;
    width: 80px;
    color: white; 
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; 
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
		margin-bottom: 10px;
}



#addexpensebtn {
	display: inline-block;
	font-size: 16px;
	margin-top: 10px;
	text-align: center;
	min-width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid #333533!important;
}

.btn-bd-primary {
	--bd-violet-bg: #712cf9;
	--bd-violet-rgb: 112.520718, 44.062154, 249.437846;
	--bs-btn-font-weight: 600;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bd-violet-bg);
	--bs-btn-border-color: var(--bd-violet-bg);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: #6528e0;
	--bs-btn-hover-border-color: #6528e0;
	--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: #5a23c8;
	--bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
	z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
	display: block !important;
}

/* Authentication Button */
.btnAuth {
	width: 100%;
	min-height: calc(1.9em + 1rem + calc(var(--bs-border-width) * 2));
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 5px;
	border-color: #2a2a2a; /* Slightly darker than background for visibility */
	background-color: #333533;
}
footer {
    background: #343a40; /* Dark background */
    color: white; /* White text */
    text-align: center; /* Centered text */
    padding: 1rem; /* Padding */
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto; /* Pushes footer to the bottom */
}
/* Media Queries */


@media only screen and (max-width: 650px) {
	.card.custom-min-width {
		min-width: 100%;
		max-width: 100%;
	}
	.col-md-5 {
		width: 100%;
	}
}

@media only screen and (min-width: 650px) {
	.card.custom-min-width {
		min-width: 300px;
		max-width: 100%;
	}
	.col-md-5 {
		width: 540px;
	}
	.icon {
		width: 25px;
		height: 25px;
	}
}

@media only screen and (min-width: 1824px) {
	.card.custom-min-width {
		min-width: 500px;
		max-width: 500px;
	}
	.col-md-5 {
		margin-top: 10px;
		width: 540px;
		min-width: 540px;
	}
}

/* Alert */
.alert {
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
}

/* Table Responsive */
@media (max-width: 576px) {
	.table-responsive thead {
		display: none;
	}
	.table-responsive td {
		display: block;
		text-align: left;
		padding-right: 50%;
		position: relative;
	}
	.table-responsive td::before {
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 15px;
		font-weight: bold;
		text-align: left;
	}
}
