{% extends 'partials/base_auth.html' %}
{% load static %}







{% block content %}
<div class="container"> 
  <div class="row justify-content-center"> 
    <div class="col-md-5"> 
      <div class="card mt-5 shadow" style="min-width: 300px;"> 
        <div class="card-body p-5">
          <h5 class="card-title text-center mt-3 mb-5">Create Your Expenses Account</h5>
          <form action="" method="post">
            <div class="form-group mb-3"> 
              <label for="users_name" class="form-label">users_name</label>
              <input type="text" users_name="users_name" class="form-control form-control-lg" id="users_name" required>
            </div>
            <div class="invalid-feedback" style="display:none">
              <p></p>
            </div>
            <div class="form-group mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" users_name="email" class="form-control form-control-lg" id="email" required>
            </div>
            <div class="form-group mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" users_name="password" class="form-control form-control-lg" id="password" required>
            </div>
            <div class="form-group mb-4">
              <button type="submit" class="btn btn-success form-control-lg" id="register">Create Account</button>
            </div>
          </form>
          <p class="text-center">Have an account?<a href=""> Login</a></p> 
        </div>
      </div>
    </div>
  </div>
</div>

<script scr="{% static 'js/register.js' %}"></script>


{% endblock %}